@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Acumin VF-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AcuminVariableConcept.otf") format("opentype");
}
@font-face {
  font-family: "Snell Roundhand-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SnellRoundhand-BoldScript.otf") format("opentype");
}
@font-face {
  font-family: "Acumin VF-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/AcuminVariableConcept.otf") format("opentype");
}
@font-face {
  font-family: "Snell Roundhand-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Snell\ Roundhand\ LT\ Std\ Black\ Script.otf") format("opentype");
}
@font-face {
  font-family: "Acumin VF-SemiboldItalic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/AcuminVariableConcept.otf") format("opentype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}
